.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 20vh;

  @media (max-width: 768px) {
    flex-direction: column;
    justify-content: space-evenly;
  }
}
