.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  border-bottom: 1px solid #ffffff20;
}

.hamburger {
  display: none;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
    cursor: pointer;
    transition: var(--transition);
    z-index: 50;
    position: fixed;
    right: 20px;
  }
}
