:root {
  --color-background: #070722;
  --color-white: #fff;
  --color-gray: #bababa;
  --color-light-gray: #1e1e1e;
  --color-text: #222;
  --color-black: #000;
  --color-active: #eda44a;
  --color-active-2: #f59116;
  --border: rgba(255, 255, 255, 0.2);
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --hover: rgba(255, 255, 255, 0.2);
  --line-color: #dcdcde;
  --color-project-text: #070722;
  --border-bottom: 1px solid #ffffff20;

  --transition: all 300ms ease-in-out;
}
